.SiteHeader-bgLogo {
  width: 100%;
  text-align: center;
  margin: 30px;
}

.SiteHeader-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 70px;
}

.SiteHeader-nav-link {
  text-decoration: none;
  color: black;
}

.SiteHeader-nav-link:hover {
  color: yellow;
}

.SiteMainContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.SiteMainContent-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

#review > * {
  padding: 5px;
}

#review > div > label {
  padding-right: 5px;
}

#review > div > ul {
  position: absolute;
  width: 180px;
}

#review > div > ul > li {
  position: absolute;
  top: -50px;
  left: 299px;
  width: 100%;
  background-color: red;
  color: black;
  border-radius: 5px;
  padding: 5px;
}

.categoryList {
  display: none;
  position: absolute;
  top: 62px;
  right: 20px;
  background-color: yellow;
  padding: 30px;
}

.categoryList > a {
  text-decoration: none;
  color: black;
  padding: 5px;
}

.categoryList > a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.categoryList::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: yellow;
  top: -10px;
  left: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#review_nickname {
  margin-left: 41px;
}

#review_grade {
  margin-left: 61px;
}

.review-button {
  margin: 0 auto;
}

.Article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid;
  max-width: 400px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 15px;
  background: #f0ff6e;
  background-image: linear-gradient(135deg, #FD6E6A 10%, #FFC600 100%);
}

.hidden {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Avatar-container {
  width: 250px;
}

.baneer-avatar {
  width: 80px;
  position: relative;
  top: -5px;
}

.banneer-userContainer {
  position: absolute;
  top: -90px;
  right: 10px;
}
/*# sourceMappingURL=style.css.map */