:root{
    /* Duréee de l'animation */
    --animation-duration: 0.5s;

    --animation-fill-mode: forwards;

}
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#Scene{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('../rsx/scene2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    
    
}

#Play-again{
    display: none;
}

#Play-again.Play-again-show{
    display: block;
    position: absolute;
    left: 50%;
    top: 100px;
}

#PlayerOne{
    bottom: 150px;
    right: 200px;
}
#PlayerTwo{
    bottom: 150px;
    left: 200px;
}

#PlayerOne.loser .Player-head{
    animation-name: player1-head-shot;
    animation-duration : var(--animation-duration);
    animation-fill-mode: forwards;
    animation-delay: 0.35s;

}


#PlayerTwo.loser .Player-head{
    animation-name: player2-head-shot;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.35s;
}

.Player{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 180px;
    justify-content: center;
    align-items: center;
    
}
.Player-head{
    width: 250px;
    height: 150px;
    position: relative;
}
.Player-body{
    width:350px;
    height: 200px;
    
}
.Shuriken{
    width: 40px;
    height: 21px;
    position: absolute;
    background-image: url('../rsx/shuriken.png ');
    background-repeat: no-repeat;
}
#PlayerOne .Shuriken{
    left: -4px;
    bottom: 118px;
}
#PlayerTwo .Shuriken{
    left: 137px;
    bottom: 149px;
}
#PlayerOne.playing .Shuriken{
    left: 75px;
    bottom: 180px;
    animation-name: shuri-kill-playertwo;
    animation-duration: 1s;
    animation-fill-mode: var(--animation-fill-mode);
}
#PlayerTwo.playing .Shuriken{
    left: 125px;
    bottom: 180px;
    animation-name: shuri-kill-playerone;
    animation-duration: 1s;
    animation-fill-mode: var(--animation-fill-mode);
}




#PlayerOne .Player-body{
    background-image: url('../rsx/player1-body.png');
    background-repeat: no-repeat;
}
#PlayerOne .Player-head{
    background-image: url('../rsx/player1-head.png');
    background-repeat: no-repeat;
    top: 29px;
    left: -23px;
}
#PlayerTwo .Player-body{
    background-image: url('../rsx/player2-body.png');
    background-repeat: no-repeat;
}
#PlayerTwo .Player-head{
    background-image: url('../rsx/player2-head.png');
    background-repeat: no-repeat;
    top: 11px;
    left: -12px;
}

#PlayerTwo.playing .Player-head{
    display: block;
    background-image: url('../rsx/player2-head-playing.png');
    background-repeat: no-repeat;
    top: 11px;
    left: -12px;
}
#PlayerTwo.playing .Player-body{
    background-image: url('../rsx/player2-body-playing.png');
    background-repeat: no-repeat;    
}
#PlayerOne.playing .Player-head{
    display: block;
    background-image: url('../rsx/player1-head-playing.png');
    background-repeat: no-repeat;
    top: 29px;
    left: -23px;
}
#PlayerOne.playing .Player-body{

    background-image: url('../rsx/player1-body-playing.png');
    background-repeat: no-repeat;    
}
#PlayerOne.winner {
    animation-name : player1-escape;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.35s;
}
#PlayerOne.winner .Player-body{
    background-image: url('../rsx/player1-escape.png');
    background-repeat: no-repeat;
}
#PlayerTwo.winner .Player-body{
    background-image: url('../rsx/player2-escape.png');
    background-repeat: no-repeat;
}
#PlayerOne.winner .Player-head{
    display: none;
}
#PlayerTwo.winner .Player-head{
    display: none;
    left: 30px;

}



#musicControl{
    position: absolute;
    left: 25px;
    top: 100px;
}

 /* The animation code */
 @keyframes shuri-kill-playerone {
    0%   {left: 137px; bottom: 149px;}
    100% {left:110vw; bottom:180px;}
  }
  @keyframes shuri-kill-playertwo {
    0%   {left: -4px; bottom: 118px;}
    100% {left:-110vw; bottom:180px;}
  }
  @keyframes player1-head-shot{
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg); top: 250px; left:100px}
  }
  @keyframes player2-head-shot{
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg); top: 250px; left:-100px}
  }
  @keyframes player1-escape{
    0%   {bottom: 150px; right: 200px;}
    100% {bottom: 130px; right: 200px; }
  }
  @keyframes player2-escape{
    0%   {bottom: 150px; left: 200px;}
    100% {bottom: 130px; left: 200px;}
  }
  /* @keyframes player1-playing{
    0%   {bottom: 150px; right: 200px;}
    100%   {bottom: 250px; right: 200px;}
  }
  @keyframes player2-playing{
    0%   {bottom: 150px; left: 200px;}
    100% {bottom:250px; left:150px}
  } */
  
  /* The element to apply the animation to */
  /* div {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
  }  */